<div class="container py-5" *ngIf="evento">
  <div class="card shadow border-0">
    <img [src]="evento.evtImagem" class="card-img-top" style="max-height: 400px; object-fit: cover;">
    
    <div class="card-body p-4">
      <h1 class="fw-bold">{{ evento.evtNome }}</h1>
      <p class="text-muted">{{ evento.evtDescricao }}</p>
      
      <hr>

      <form (submit)="confirmarInscricao()">
        <!-- Loop pelos campos que o Admin criou no Low-Code -->
        <div *ngFor="let campo of evento.camposCustomizados" class="mb-3">
          <label class="form-label fw-bold">{{ campo.label }}</label>
          
          <!-- Se o campo for texto -->
          <input *ngIf="campo.tipo === 'text'" type="text" 
                 class="form-control" [(ngModel)]="respostas[campo.label]" 
                 [name]="campo.label" [required]="campo.obrigatorio">

          <!-- Se o campo for seleção -->
          <select *ngIf="campo.tipo === 'select'" class="form-select"
                  [(ngModel)]="respostas[campo.label]" [name]="campo.label" [required]="campo.obrigatorio">
            <option value="">Selecione...</option>
            <option *ngFor="let opt of campo.opcoes" [value]="opt">{{ opt }}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-success btn-lg w-100">Confirmar Inscrição</button>
      </form>
    </div>
  </div>
</div>  