.btn-icon {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}

th.sortable {
  cursor: pointer;
  user-select: none;
}

th.sortable i {
  margin-left: 4px;
  font-size: 0.8rem;
  opacity: 0.6;
}

th.sortable:hover i {
  opacity: 1;
}

